.git
.gitignore
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/venv
**/node_modules
frontend/.nuxt
frontend/.output
frontend/dist
storage/*
!storage/.gitkeep
.env
.env.*
!*.example
docker/.env.production
docker/.env.local
*.zip
*.tar
*.tar.gz
.DS_Store
